<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>
    <h1>LIVE SERVER</h1>
      <h2>Live Update : <%= Date() %>
      </h2>
      
  </body>
</html>
