<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>

  <body>
    <%- include('partials/navbar') %>

      <form action='/show' method='get'>
        <input type="text" name="Q" id='searchbar' placeholder='choose league' value="">
        <button type="submit">Search</button>
      </form>

  </body>

</html>
